@import "../../styles/main.scss";

.header-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $break-samall) {
    flex-wrap: wrap;
  }
}
